<div class="jumbotron">
    <h1>Sample API Project</h1>
    <p class="lead">Welcome to your API service. Press below to explore.</p>
    <p><a href="../swagger/ui/index" class="btn btn-primary btn-lg">API info using Swagger &raquo;</a></p>
    <div class="row">
        <div class="col-md-4">
            <h2>Header 1</h2>
            <p>Filler content</p>
        </div>
        <div class="col-md-4">
            <h2>Header 2</h2>
            <p>Filler content</p>
        </div>
        <div class="col-md-4">
            <h2>Header 3</h2>
            <p>Filler content</p>
        </div>
    </div>
